@model IEnumerable<FlightProjClient.Models.Kgflight>

@{
    ViewData["Title"] = "ViewFlights";
    Layout= "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ViewFlights</h1>

<p>
    <a asp-action="AddFlight">Add New Flight</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fsource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fdest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fsource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fdest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditFlight", new { id=item.Fid })
            </td>
        </tr>
}

    </tbody>
</table>

<a asp-action="AdminHomePage">Back to Dashboard</a>
